{proglang, erlang}.
% {apps, [
%   asn1,
%   common_test,
%   compiler,
%   crypto,
%   debugger,
%   dialyzer,
%   diameter,
%   edoc,
%   eldap,
%   erl_docgen,
%   erl_interface,
%   erts,
%   et,
%   eunit,
%   ftp,
%   inets,
%   kernel,
%   megaco,
%   mnesia,
%   observer,
%   os_mon,
%   parsetools,
%   public_key,
%   reltool,
%   runtime_tools,
%   sasl,
%   snmp,
%   ssh,
%   ssl,
%   stdlib,
%   syntax_tools,
%   tftp,
%   tools,
%   xmerl
% ]}.
{deps, [
  {asn1, <<"https://wojtekmach.pl/otp_docs/asn1">>},
  {common_test, <<"https://wojtekmach.pl/otp_docs/common_test">>},
  {compiler, <<"https://wojtekmach.pl/otp_docs/compiler">>},
  {crypto, <<"https://wojtekmach.pl/otp_docs/crypto">>},
  {debugger, <<"https://wojtekmach.pl/otp_docs/debugger">>},
  {dialyzer, <<"https://wojtekmach.pl/otp_docs/dialyzer">>},
  {diameter, <<"https://wojtekmach.pl/otp_docs/diameter">>},
  {edoc, <<"https://wojtekmach.pl/otp_docs/edoc">>},
  {eldap, <<"https://wojtekmach.pl/otp_docs/eldap">>},
  {erl_docgen, <<"https://wojtekmach.pl/otp_docs/erl_docgen">>},
  {erl_interface, <<"https://wojtekmach.pl/otp_docs/erl_interface">>},
  {erts, <<"https://wojtekmach.pl/otp_docs/erts">>},
  {et, <<"https://wojtekmach.pl/otp_docs/et">>},
  {eunit, <<"https://wojtekmach.pl/otp_docs/eunit">>},
  {ftp, <<"https://wojtekmach.pl/otp_docs/ftp">>},
  {inets, <<"https://wojtekmach.pl/otp_docs/inets">>},
  {kernel, <<"https://wojtekmach.pl/otp_docs/kernel">>},
  {megaco, <<"https://wojtekmach.pl/otp_docs/megaco">>},
  {mnesia, <<"https://wojtekmach.pl/otp_docs/mnesia">>},
  {observer, <<"https://wojtekmach.pl/otp_docs/observer">>},
  {os_mon, <<"https://wojtekmach.pl/otp_docs/os_mon">>},
  {parsetools, <<"https://wojtekmach.pl/otp_docs/parsetools">>},
  {public_key, <<"https://wojtekmach.pl/otp_docs/public_key">>},
  {reltool, <<"https://wojtekmach.pl/otp_docs/reltool">>},
  {runtime_tools, <<"https://wojtekmach.pl/otp_docs/runtime_tools">>},
  {sasl, <<"https://wojtekmach.pl/otp_docs/sasl">>},
  {snmp, <<"https://wojtekmach.pl/otp_docs/snmp">>},
  {ssh, <<"https://wojtekmach.pl/otp_docs/ssh">>},
  {ssl, <<"https://wojtekmach.pl/otp_docs/ssl">>},
  {stdlib, <<"https://wojtekmach.pl/otp_docs/stdlib">>},
  {syntax_tools, <<"https://wojtekmach.pl/otp_docs/syntax_tools">>},
  {tftp, <<"https://wojtekmach.pl/otp_docs/tftp">>},
  {tools, <<"https://wojtekmach.pl/otp_docs/tools">>},
  {xmerl, <<"https://wojtekmach.pl/otp_docs/xmerl">>}
]}.
